/* CSS file including mark-ups */

/* ---- BUTTONS ----- */

/* top toolbar button */
#button-cm, #button-cm-send, #button-cm-decrypt{
  list-style-image: url("chrome://tryango/skin/cm_logo_24x24.png") !important;
}


/* ----- TREES ----- */

/* gpg key tree (all treechildren with parent id="info_key_tree") */
#info_key_tree > treechildren::-moz-tree-row{
/*   height: 75px !important; */
}
/* properties to colour date-fields of keys */
treechildren::-moz-tree-cell-text(greenCell){
    color: #33EE33; /*green*/
}
treechildren::-moz-tree-cell-text(redCell){
    color: red;
    font-weight: bold;
}